[submodule "k10a1-20.11.2022"]
	path = k10a1-20.11.2022
	url = https://github.com/idkhow2type/k10a1-20.11.2022.git
[submodule "operaminigame"]
	path = operaminigame
	url = https://github.com/idkhow2type/operaminigame.git
